---
- hosts: mywebservers
  become: yes
  gather_facts: yes
  tasks:
  - name: I want to install webserver on ubuntu
    apt:
      name: "{{mywebpackubuntu}}"  
      state: present
    when: ansible_os_family == "Debian"

  - name: I want to start webserver on ubuntu
    service:
      name: "{{mywebpackubuntu}}"  
      state: started
    when: ansible_os_family == "Debian"  

  - name: I want to install webserver on Redhat 
    yum:
     name: "{{mywebpackredhat}}" 
     state: present
    when: ansible_os_family == "RedHat" 
  
    
  - name: I want to start  webserver on Redhat 
    service:
     name: "{{mywebpackredhat}}" 
     state: started
    when: ansible_os_family == "RedHat"   
