---
- hosts: mywebservers
  become: yes
  tasks:
  - name: I want to install webserver on ubuntu
    apt:
      name: apache2  
      state: present
    when: ansible_os_family == "Debian"

  - name: I want to install webserver on Redhat 
    yum:
     name: httd
     state: present
    when: ansible_os_family == "Redhat"         